:root {
  --mycolor: #34BF7E;
  --mybackground: #F2f2f2;
  --secondary-color: #505050;
  --font-color: #A6A6A6;
  --heading-color: #222222;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--mybackground);
  color: var(--font-color);
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}


/* Header Section */
.logo {
  height: 100%;
}

.logo {
  font-family: "Poppins";
  font-size: 2.2rem;
  color: var(--heading-color);
  font-weight: 300;
}

.row.justify-content-between.align-items-center {
  height: 15vh;
}

ul.list-inline.d-flex.justify-content-around {
  margin-bottom: 0;
}

ul>li {
  font-family: "Poppins";
  font-size: 0.9rem;
  /* padding: 0 5px; */
  font-weight: 600;
}

ul>li.active {
  color: var(--heading-color);
}

/* Hero Section */

.row.main.align-items-start {
  
}

#hero {
  background-image: url('../img/hero.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero .row.main {
  height: 75vh;
}

h1.text-white.p-3 {
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
  background-color: var(--mycolor);
  margin-top: 15%;
}

/* Cards Section */

.box {
  padding: 60px 0px
}

.box-part {
  background: var(--mybackground);
  padding: 60px 10px;
  margin: 0px 0px;
  margin-bottom: 25px
}

h3 {
  font-family: "Poppins";
  font-size: 1rem;
  color: #222222;
  font-weight: 600;
}

.box-part.text-center {
  padding: 40px 10px 0px 10px;
}

img {
  padding-bottom: 20px;
}

.text {
  margin: 20px 0px
}

div.section-title h3 {
  /* padding: 14px 0px 0px 14px; */
  text-transform: uppercase;
}

hr.style1{
	border-top: 2px solid #8c8b8b;
  margin-top: 5px;
}


/* Recent-work */
#recent-work {
  padding-bottom: 60px;
}

h5 {
  font-family: "Poppins";
  font-size: 0.9rem;
  color: #222222;
  font-weight: bold;
}

div.card {
  border: none;
}

.card-body {
  padding-top: 0px;
  padding-left: 0px;
  background-color: var(--mybackground);

}

img.card-img-top {
  padding-bottom: 10px;
  background-color: var(--mybackground);
  
}

h6 {
  padding-bottom: 5px;
}


/* FOOTER */
